/* about section  */
.about {
  display: flex;
  flex-direction: column;
  padding: 10%;
  color: #15587d;
}
/* headline  */
.about .headline {
  color:#00456b;
  ;
  font-size: 60px;
  font-weight: 600;
  margin-left: -3px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: normal;
  text-align: center;
}
.about .bio {
  color: #15587d;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bolder;
  line-height: normal;
  padding: 50px;
  line-height: 40px;
}
/* bio hover  */
.about .bio:hover {
  color: #0a4b6e;
  
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bolder;
  line-height: normal;
  padding: 50px;
  line-height: 40px;
  
}

/* Mobile Styles */
@media screen and (min-width: 360px) and (max-width: 760px) {
  /* Home Section Styles */
  .home .home-content {
    text-align: center;
    justify-content: safe;
  }

  .text {
    margin-bottom: 5vw;
  }
  .home .text-two {
    font-size: 24px;
    color: #ff900d;
  }

  /* Tagline Section Styles */
  .about {
    padding: 1vw;
    text-align: center;
    font-size: 12px;
    color: #15587d;
  }
  .about .headline {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .about .bio {
    font-size: 16px;
    line-height: normal;
    padding: 3vw;
  }
  nav {
    position: relative;
    width: 100%;
  }
}
